<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleautheadmingeneral.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In</h2>
          <h3>Admin Centre</h3>
          <!-- Login Form -->
     
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" id="authentification" class="fadeIn fourth" value="Log In">
  
            <p id="msgerr" style="color: red;"></p>
        </div>
      </div>

      <script src="/js/gestionauthentificationadmincentre.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>